@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&family=Poppins&family=Quicksand:wght@400;500;600;700&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(214, 214, 214);
}


/* Navbar */
.container-nav{
    width: 100%;
    background-color: white;
}
nav{
    width: 85%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}
nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
nav li{
    margin-right: 40px;
}
.home{
    font-weight: bold;
}
nav a{
    color: black;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.5s;
}
nav a:hover{
    color: white;
    background-color: #0f172a;
    cursor: pointer;
    transition: 0.5s;
}
.logo{
    width: 50px;
}
.btn-contact{
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    background-color: #334155;
    border: none;
    border-radius: 10px;
    color: white ;
    transition: 0.5s;
    border: 2px solid white;
}
.btn-contact:hover{
    border: 2px solid #334155;
    background-color: white;
    cursor: pointer;
    transition: 0.5s;
    color: #334155;
}
/* ------------------------------ */

/* Form */
.container-projek{
    margin-top: 60px;
}
form{
    width: 576px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.title-projek{
    margin: auto;
}
label{
    font-weight: 700;
    font-size: 18px;
}
.space{
    margin-top: 15px;
}
/* ----Projek---- */
.projek{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}
.projek input{
    height: 30px;
    border: none;
    border-radius: 7px;
    box-shadow: 4px 4px 10px -3px rgba(105,105,105,0.75);
}

/* ----Date---- */
.date{
    display: flex;
    justify-content: space-between;
}
.date input{
    height: 30px;
    border: none;
    border-radius: 7px;
    box-shadow: 4px 4px 10px -3px rgba(105,105,105,0.75);
}
.card-date{
    width: 49%;
    display: flex;
    flex-direction: column;
}

/* ----Description(Text Area)---- */
.description{
    display: flex;
    flex-direction: column;
}
.description textarea{
    height: 170px;
    border: none;
    border-radius: 7px;
    box-shadow: 4px 4px 10px -3px rgba(105,105,105,0.75);
}

/* ----CheckBox---- */
.container-checkbox{
    display: grid;
    grid-template-columns: 150px auto;
}
.card-checkbox{
    width: 288px;
}
.name-card-checkbox{
    font-size: 14px;
    font-weight: 500;
}

/* ----Upload---- */
.upload{
    display: flex;
    flex-direction: column;
}
.upload input{
    height: 30px;
    border: none;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 4px 4px 10px -3px rgba(105,105,105,0.75);
}

/* ----Button---- */
.button-profil{
    width: 90px;
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
    color: white;
    background-color: #0f172a;
    border-radius: 10px;
    border: none;
    transition: 0.5s;
    cursor: pointer;
    border: 2px solid white;
}
.button-profil:hover{
    font-weight: bold;
    border: 2px solid #334155;
    background-color: white;
    transition: 0.5s;
    color: #334155;
}
/* ----------------------- */
/* ------- Hidden in JS------- */
.container-myproject{
    width: 70%;
    margin: auto;
}
.title-myproject{
    text-align: center;
}
.content-myproject{
    display: grid;
    gap: 15px;
    grid-template-columns: auto auto auto;
}


.card-myproject{
    width: 300px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    background-color: #e2e8f0;
}
.card-myproject img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.icon-myproject img{
    width: 26px;
    background-color: #0f172a;
    border-radius: 40%;
    padding: 10px;
}

.custom-myproject{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.custom-myproject button{
    width: 49%;
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
    color: white;
    background-color: #0f172a;
    border-radius: 10px;
    border: none;
    transition: 0.5s;
    cursor: pointer;
    border: 2px solid white;
}
.custom-myproject button:hover{
    font-weight: bold;
    border: 2px solid #334155;
    background-color: white;
    transition: 0.5s;
    color: #334155;
}